<my-header></my-header>
<div class="content">
    <div ng-controller="homeCtrl">
        <img src="app/photos/bodyImge3.jpg"/>
        <div class="center">
            <h1 class="font-size:2vw">HELLO WELCOME TO CASPER SHOP</h1>
            <div c>We sell all kinds of clothing for all age groups
                and all international products
            </div>
            <div class="button1" ui-sref="discount">DISCOUNT</div>
        </div>

        <!-- -----------------------END FIRST IMGE------------------------ -->
        <style>
            .dropbtn {
              background-color: burlywood;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
              cursor: pointer;
              margin: 15px 10px;
            }
            
            .dropdown {
              position: relative;
              display: inline-block;
            }
            
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
            
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            
            .dropdown-content a:hover {background-color: #f1f1f1}
            
            .dropdown:hover .dropdown-content {
              display: block;
            }
            
            .dropdown:hover .dropbtn {
              background-color: #3e8e41;
            }
            </style>
        <div >
            <div style="width: 100%;height: 100px;">
                    <h2 style="font-weight: bold;cursor: pointer; width: 20%;padding: 30px 6px;float: left;font-size:2vw"> 
                        <a ng-click="myFilter = {cat: ''}">TOP PRODUCTS</a>
                    </h2>
                    <div class="dropdown">
                        <button class="dropbtn">Categories</button>
                        <div class="dropdown-content">
                            <a ng-click="myFilter = {cat: 'men'}">Men</a>
                            <a ng-click="myFilter = {cat: 'woman'}">woman</a>
                            <a ng-click="myFilter = {cat: 'children'}">Children</a>
                            <a ng-click="myFilter = {cat: 'kids'}">Men</a>
                            <a ng-click="myFilter = {cat: 'shoies'}">shoies</a>
                            <a ng-click="myFilter = {cat: 'watches'}">Men</a>
                            <a ng-click="myFilter = {cat: 'accessories'}">Men</a>

                        </div>
                    </div>
            </div>
            <div class="contentSideBar ">
                <div class="card float-right cardProducts"
                     ng-repeat="item in MyData | filter : myFilter | limitTo : 6">
                    <a ng-href="product/{{item.id}}/{{item.cat}}">
                        <img class="card-img-top imgSliderM" ng-src="{{item.image}}" alt="Card image cap"
                             style="height: 200px;width: 92%;">
                        <div class="">
                            <p class="float-left" style="margin: 6px;opacity: 0.7">{{item.name}}</p>
                        </div>
                    </a>
                    <span class="float-right"
                          style="margin: 3px;font-weight: bold;position: absolute;right: 0;bottom: 0;font-size: 13px">
                    {{item.price | currency}}
                </span>
                    <span class="float-left positionLeftBottom" style="margin: 3px;color: chocolate;font-size: 13px">
                   66 Sold
                </span>

                </div>
            </div>
        </div>
        <!-- ----------------------- END TOP PRODUCTS ------------------------ -->
        <div style="margin-bottom: 20px">
            <div class="disProd">
                <h2 style="font-weight: bold;display: block;">
                    DISCOUNT
                </h2>
            </div>
            <div class="contentSideBar ">
                <div class="card float-left"
                     style="width: 16%;padding-top:10px;height: 305px;text-align: center;margin: 0 4px;background-color:#F2F2F2"
                     ng-repeat="item in MyData |  filter : {sell : ''} | limitTo : 6">
                    <a href="product/{{item.id}}/{{item.cat}}">
                        <img class="card-img-top imgSliderM" ng-src="{{item.image}}" alt="Card image cap"
                             style="height: 200px;width: 92%;">
                        <div class="">
                            <p class="float-left" style="margin: 6px;opacity: 0.7">{{item.name}}</p>
                        </div>
                    </a>
                    <span class="float-right"
                          style="margin: 3px;font-weight: bold;position: absolute;right: 0;bottom: 0;font-size: 12px">
                    {{item.price | currency}}
                </span>
                    <span class="float-right" ng-show="item.sell !== null"
                          style="margin: 3px;font-weight: bold;position: absolute;right: 0;bottom: 20px;text-decoration: line-through;opacity: 0.5;font-size: 12px">
                    {{item.sell | currency}}
                </span>
                    <span class="float-left positionLeftBottom" style="margin: 3px;color: chocolate;font-size: 13px">
                        ★ 5.0
                </span>
                </div>
            </div>
        </div>
        <!-- ----------------------- END DISCOUNT ----------------------- -->
        <div class="parentAll">
            <div ng-repeat="item in MyData" class="card float-right contentAll">
                <a href="product/{{item.id}}/{{item.cat}}">
                    <img class="card-img-top" ng-src="{{item.image}}" alt="Card image cap"
                         style="width: 100%;height: 230px;box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);margin-bottom: 5px">
                    <div class="">
                        <span class="card-text"
                              style="margin: 15px 3px;opacity: 0.7;font-weight: 700;">{{item.name}}</span>
                    </div>
                </a>
                <span class="float-right "
                      style="margin: 3px;font-weight: bold;position: absolute;right: 0;bottom: 0">
                    {{item.price | currency}}
                    </span>
                <span class="float-left positionLeftBottom" style="margin: 3px;color: darkred">
                        ★ 5.0
                    </span>
            </div>
        </div>

    </div>
</div>
<my-footer></my-footer>
