body,html{
    padding:0;
    margin: 0;
    outline: 0;
    background: none;
    position: relative;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
#header{
    font-size: 15px;
    font-weight: bold;
}
.headerEr{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.content img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content{
    overflow-y: auto;
  overflow-x: hidden;
}
.content h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
    text-align: center;
}
.content p{
    /*font-size: 18px;*/
    /*text-shadow: 1px 1px 2px black, 0 0 1em chocolate, 0 0 0.2em darkcyan;*/
}
.content .button1{
    border: 1px solid black;
    padding: 40px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: crimson;
    text-shadow: 1px 1px 2px black, 0 0 1em aquamarine, 0 0 0.2em darkcyan;
}
.content .button1:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 22px;
    transition: 0.7s;
}
.sidebar{
    cursor: pointer;
    transition: 0.5s ease;
}
.contentSideBar{
    width: 100%;
    height: 310px;
    position: relative;

}
.contentAll{
    width: 19%;
    height: 320px;
    margin: 5px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.parentAll{
    background-color: #F2F2F2;
    width: 100%;
    padding: 15px 10px 0 0;
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row-reverse wrap;
}
.price{
    padding: 3px 5px;
    background-color: green;
    position: absolute;
    top: 160px;
    left: 11px;
    color: white;
    font-weight: bold;
}
.NameDetails{
    font-weight: bold;
    color: #000;
    margin: 15px 0 0 15px;
    width: 30%;
    line-height: 1;
}
.descDetails{
    font-size: 14px;
    color: #000;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.parantDetails{
    border: 1px solid black;
    width: 40%;
    height: 20%;
    margin: 15px;
    padding: 7px;
 }
.center1 {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
.imgSliderM{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
}
.nameProdC{
    margin: 3px
}
.positionLeftBottom{
    position: absolute;
    left: 0;
    bottom: 0;
}
.headerCat{
    width: 51%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-weight: bold;
    margin: 25px auto;
    font-size:2vw;
}
.childCat{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.cardProducts{
    width: 16%;
    padding-top:10px;
    height: 300px;
    text-align: center;
    margin: 0 4px;
    transition: 0.3s;
}
.disProd{
    width: 100%;
    margin: 30px;
}
.deatilsParent{
    margin: 20px;
    width: 20%;
}
.deatilsParent .imgDeatils{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resetfilter{
    position: absolute;
    right: 30px;

}
.loginStyle{
    font-weight: bold;
    color: white;
    text-align: center;
    width: 70px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;

}
.loginStyle:hover{
    background-color: darkolivegreen;
    transition: 0.7s;
}


ng-message {
    color: red;
}
.ng-touched{
    border-color: red;
    outline-color: red;
}
/*.ng-invalid {*/
    /*border-color: red;*/
    /*outline-color: red;*/
/*}*/

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}
.textDemo{
    color: blue;
    font-weight: bold;
    white-space: nowrap;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.discountStyle{
    width: 16%;
    padding-top:10px;
    height: 305px;
    text-align: center;
    margin: 0 4px;
    background-color:#F2F2F2
}
.forTest h2{
    font-size:2vw;
 }
  @media screen and (max-width: 360px) {
      body{
          font-weight: bold;
          font-size: 18px;
          
      }
    .content img{
        width: 100%;
        height: 500px;
        }
        .content h1{
            width: 60%;
            font-size: 35px;
            margin: 0 auto
        }
        .textDemo{
            height: 40px;
            width: 60%;
            margin: 0 auto;
            text-overflow: unset;

        }
        .discountStyle{
            width: 100%;
            margin: 4px 0;
                }
        .cardProducts{
            width: 100%;
            margin: 4px 0;

        }
        .contentAll{
            width: 100%;
        }
        footer img{
            width: 16%;
            height: 100px;
        }
        .forTest h2{
            font-size: 15px;
            margin-right: 20px;
         }
  } 
  @media screen and (max-width: 411px) {
    .content h1{
        width: 60%;
        font-size: 35px;
        margin: 0 auto;
    }
    .textDemo{
        font-weight: bold;
        height: 40px;
        width: 60%;
        margin: 0 auto;
        text-overflow: unset;

    }
    .content img{
        width: 100%;
        height: 500px;
        }
    .discountStyle{
        width: 100%;
        margin: 4px 0;
            }
    .cardProducts{
        width: 100%;
        margin: 4px 0;

    }
    .contentAll{
        width: 100%;
    }
    footer img{
        width: 16%;
        height: 100px;
    }
    .center{
        top: 30%;
        left: 50%;
    }
} 

@media screen and (max-width: 768px) {
    .cardProducts{
        width: 32%;
    }
    .discountStyle{
        width: 32%;
    }
    .contentAll{
        width: 32%;
    }
    footer img{
        width: 100%;
        height: 100px;
    }
} 
@media screen and (max-width: 1024px) {
    .cardProducts{
        width: 32%;
    }
    .discountStyle{
        width: 32%;
    }
    .contentAll{
        width: 32%;
    }
    footer img{
        width: 100%;
        height: 100px;
    }
} 
@media screen and (max-width: 1215px) {
    .discountStyle{
        width: 15%;
    }
} 